attrs==21.4.0
flake8==4.0.1
Jinja2==3.1.2
jsonschema==4.7.2
Markdown==3.4.1
MarkupSafe==2.1.1
mccabe==0.6.1
mypy==1.5.1
pyaml==21.10.1
pycodestyle==2.8.0
pyflakes==2.4.0
Pygments==2.17.2
pyrsistent==0.18.1
python-frontmatter==1.0.0
PyYAML==5.1
tomli==2.0.1
types-Markdown==3.4.0
types-PyYAML==6.0.10
typing_extensions==4.3.0
lark==1.1.8